/* .visible {
    display:block !important;
}

.visibleFlex{
    display: flex !important;
}
.hidden {
    display: none;
} */
/* 
#mje-cat-duplicada, #mje-cat-vacia{
    display:none;
    /* width: 30%; */
    /* position: absolute; */
    /* top: 150px; */
    /* left:35%; */
    /* background-color: rgb(204, 193, 193); */
    /* height: 80px; */
    /* text-align: center; */
/* } */

/* #cont-editar-categoria, #cont-ventana-modal{
    display:none;
} */